<header class = "header">
        <nav class = "nav">
            <h1 id= "top-title">VIPhotography</h1>
            <ul>
                <li><a href="/about" >About Us</a></li> 
                <li><a href="/samplepics" >Sample Pictures</a></li>
                <li><a href="/client" >Client Access</a></li>
                <li><a href="/" >Home</a></li>
            </ul>
        </nav>
</header>