<header class = "header">
        <nav class = "nav">
            <ul>
                <div class="iconGroup">
                    <li><a href="https://www.google.com/gmail/"><img src="/styles/assets/close-envelope.png" alt="mail" class="icons"></a></li>
                    <li><a href="https://github.com/Juan-Betancourt/VIPhotography"><img src="/styles/assets/github-logo.png" alt="github" class="icons"></a></li>
                    <li><a href="https://www.facebook.com/"><img src="/styles/assets/facebook.png" alt="fb" class="icons"></a></li>
                </div>
                <li><a href="/about" >About Us</a></li>
                <li><a href="/samplepics" >Sample Pictures</a></li>
                <li><a href="/client" >Client Access</a></li>
                <li><a href="/" >Home</a></li>
                <h2 id="navh2">VIPhotography</h2>
            </ul>
        </nav>
        <!-- <script src="/app.js"></script> -->
</header>