<header class = "header">
        <nav class = "nav">
            <!-- <div class="icon-menu"></div> -->
            <ul>
            <!-- <li><a href="/" class="icon-home"> Home</a></li> -->
            <li><a href="/" > Home</a></li>
            <li><a href="/samplepics" > Sample Pictures</a></li>
            <li><a href="/client" > Client Access</a></li>
            <!-- <li><a href="/addimg" > Admin Page</a></li> -->
            <li><a href="/about" > About Us</a></li>
            </ul>
        </nav>
</header>