<header class = "header">
        <nav class = "nav">
            <ul>
                <div class="iconGroup">
                    <li><a href="https://www.youtube.com/channel/UCJTHd9QfLymPbmQLCMkYFKw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <!-- <img src="/styles/assets/close-envelope.png" alt="mail" class="icons"></a></li> -->
                    <li><a href="https://www.instagram.com/viphotography.co" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <!-- <img src="/styles/assets/github-logo.png" alt="github" class="icons"></a></li> -->
                    <li><a href="https://www.facebook.com/viphotography.co" target="_blank"><i class="fab fa-facebook-square"></i></a><li>
                        <!-- <img src="/styles/assets/facebook.png" alt="fb" class="icons"></a></li> -->


                </div>
                <li><a href="/about" >About Us</a></li>
                <li><a href="/samplepics" >Sample Pictures</a></li>
                <li><a href="/client" >Client Access</a></li>
                <li><a href="/contact" >Contact</a></li>
                <li><a href="/" >Home</a></li>
                <h2 id="navh2">VIPhotography</h2>
            </ul>
        </nav>
</header>