<nav id="navbar">
    <h1 id="top-title">VIPhotography</h1>
    <div id="top-bar">
    </div>
    <!-- NAVIGATION -->
    <!-- Left bar shown on page load -->
    <div id="left-bar">
    </div>
    <!-- Slide out nav bar -->
    <div id="slide-out">
        <a href="/">Home</a>
        <a href="/samplepics">Sample Pictures</a>
        <a href="/client">Client Access</a>
        <a href="/about">About Us</a>
    </div>
    <!-- Slide down button -->
    <div id="circle">
        <div id="arrow">
        </div>
    </div>
    <!-- Button to pull out nav -->
    <div id="click-toggle-circle">
        <div id="click-toggle-arrow">
        </div>
    </div>
    <script src="/app.js"></script>
</nav>