<nav>
    
    <div id="top-bar">
    </div>
    
    <!-- NAVIGATION -->
    <!-- Left bar shown on page load -->
    <div id="left-bar">
        
    </div>
    
    
    <!-- Slide out nav bar -->
    <div id="slide-out">
        
        <a href="#">Section One</a>
        <a href="#">Section Two</a>
        <a href="#">Section Three</a>
        <a href="#">Section Four</a>
        
    </div>
    
    <!-- Slide down button -->
    <div id="circle">
        <div id="arrow">
        </div>
    </div>
    
    <!-- Button to pull out nav -->
    <div id="click-toggle-circle">
        
        <div id="click-toggle-arrow">
        </div>
        
    </div>
    <script src="/app.js"></script>
</nav>