<nav>
    <div id="top-bar">
    </div>
    <!-- NAVIGATION -->
    <!-- Left bar shown on page load -->
    <div id="left-bar">
    </div>
    <!-- Slide out nav bar -->
    <div id="slide-out">
        <a href="/index">Return to Homepage</a>
        <a href="/adminpage">Admin Page</a>
        <a href="/aboutme">About Me</a>
        <a href="/creators">Site Creators</a>
    </div>
    <!-- Slide down button -->
    <div id="circle">
    <div id="arrow">
    </div>
    </div>
    <!-- Button to pull out nav -->
    <div id="click-toggle-circle">
    <div id="click-toggle-arrow">
    </div>
    </div>
    <script src="/app.js"></script>
</nav>