<nav id="navbar">
    <h1 id="top-title">VIPhotography</h1>
    <div id="top-bar">
    </div>
    <!-- NAVIGATION -->
    <!-- Left bar shown on page load -->
    <div id="left-bar">
    </div>
    <!-- Slide out nav bar -->
    <div id="slide-out">
        <a href="/">Home</a>
        <a href="/samplepics">Sample Pictures</a>
        <a href="/client">Client Access</a>
        <a href="/about">About Us</a>
    </div>

    <!-- possiable add ons -->
    <!-- <ul id="social-1">
        <li>
            <a href="https://github.com/Juan-Betancourt/VIPhotography">
                <img src="./styles/assets/github-logo.png">
            </a>
        </li>
    </ul>
    <ul id="social-2">
        <li>
            <a href="email-place-holder">
                <img src="./styles/assets/close-envelop.png">
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/">
                <img src="./styles/assets/facebook.png">
            </a>
        </li>
    </ul> -->
    <!-- Slide down button -->
    <div id="circle">
        <div id="arrow">
        </div>
    </div>
    <!-- Button to pull out nav -->
    <div id="click-toggle-circle">
        <div id="click-toggle-arrow">
        </div>
    </div>
    <script src="/app.js"></script>
</nav>