<div class="slide">
    <div class="imgAnimation"></div>
    <div class="contentWrapper">
        <h1 class="indexh1">VIPhotography</h1>
        <h2>Maybe a short bio about J here!</h2>
    </div>
</div>