<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

</br>
    <!-- <center><h2> index.ejs </h2></center> -->
<style>
/* a {
    font-family:'Courier New', Courier, monospace;
    font-size: 24px;
    width: 100%;
    margin-top: 10px;
} */
</style>
<!-- <a href="/adminpage">Go to Admin Page</a> -->
<%- include('./partials/footer') %>
</body>
</html>