<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>
    <h2> index.ejs </h2>
</br>
<style>
a {
    font-family:'Courier New', Courier, monospace;
    font-size: 24px;
    width: 100%;
    margin-top: 10em;
}
</style>
<a href="/adminpage">Go to Admin Page</a>
</body>
    <%- include('./partials/footer') %>
</html>