<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <script src="/../public/jquery-3.3.1.min.js"></script>
    <title>Test Page!</title>
</head>
<body>
        <section id="image-container">
                <h1>All Images</h1>
                <div class="grid">
                    <% allImages.forEach(pic => { %>
                    <div class="module" id="<%= pic.imgdata_id %>">
                    <% if (pic.img_url == '') {pic.img_url = 'http://place-hold.it/300x500?text=Placeholder'} %>
                        <img src="<%= pic.img_url || 'http://place-hold.it/180x200?text=Placeholder' %>"/>
                    </br>
                        <p><%= pic.lastname %></p>
                    </div>
                    <% }) %>
        </section>
</body>
</html>