/* ++++++++++++++++++++++++HAI ERROR page styling+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++** */
#a404{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



/* +++++++++++++++++++++++++++HAI ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++** */
#addimg-form button{
    margin-top: 25px;
    width: 170px;
    height: 55px;
    color:white;
    background-color: black;
    border: none;
}
#addimg-form {
    margin: auto;
    width: 375px;
    height: 500px;
    text-align: center;
}
#img_url{
    width : 250px;
    height: 40px;
    margin-bottom: 30px;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++** */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++** */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++** */
