/* ++++++++++++++++++++++++HAI ERROR page styling+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++** */
#a404{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



/* +++++++++++++++++++++++++++HAI ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++** */
#addimg-form button, #search-form button{
    margin-top: 25px;
    width: 170px;
    height: 55px;
    color:white;
    background-color: black;
    border: none;
}
#addimg-form {
    margin: auto;
    width: 375px;
    height: 500px;
    text-align: center;
}
#img_url{
    width : 250px;
    height: 40px;
    margin-bottom: 30px;
}
#booksearch{
    margin: auto;
    list-style: none;
    width: 375px;
    height: 600px;
    background-color: rgb(179, 175, 175);
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding-top: 20px;
    padding-right: 40px;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++** */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++** */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++** */
