<!DOCTYPE html>
<html>
        <%- include('../../partials/head') %>
<body>
    <%- include('../../partials/header') %>
    <h4>Manage the cluster crap</h4>
    <main>
        <form id="client-access" action="/client" method="post">
          <input type="text" name="lastname" placeholder="Last Name" required> <br>
          <input type="number" name="pin" placeholder="4 Digits PIN" min="1000" max="9999" required> <br>
          <button type="submit">Submit</button>
        </form>
    </main>
    <% img.forEach((pic) => { %>
    <li>
        <img src="<%= pic.img_url %>" alt="picture"height="300px" width="200px">
    </li>
    <% }); %>
</body>
<%- include('../../partials/footer') %>
</html>