<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
    <main>
            <h1>Meet the Dev Team</h1>
            <p>Hope you have enjoyed the site and would like to thank you for taking the time to get to know a little more about the creaters of this amazing site.</p>
            <img src="" alt="" width="104" height="142">
            <p>Hai</p>
            <img src="" alt="" width="104" height="142">
            <p>J</p>
            <img src="" alt="" width="104" height="142">
            <p>Chris</p>
            <img src="" alt="" width="104" height="142">
            <p><a href="https://www.linkedin.com/in/nicholasawelch">
             <img src="imageSource" alt="my picture" height="128" width="128" /></a>Nick Welch</p>
             
            <p>Passionate about helping maximize the quality of software, hardware, mobile device, and web applications Versatile, well-organized
            technology professional with demonstrated experience leading key testing activities for a wide range of software products,
            devices, and technologies. Reputation for being able to uncover, document, and coordinate the resolution of all manner of
            bugs and defects—in addition to being able to proactively identify future potential bugs/issues before they occur.</p>
    </main>
</body>
<html>
        <%- include('../partials/footer') %>
</html>