<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
    <main>
            <h1>Meet the Dev Team</h1>
            <p>Hope you have enjoyed the site and would like to thank you for taking the time to get to know a little more about the creaters of this amazing site.</p>
            <img src="" alt="" width="104" height="142">
            <p>Hai</p>
            <img src="" alt="" width="104" height="142">
            <p>J</p>
            <img src="" alt="" width="104" height="142">
            <p>Chris</p>
            <img src="" alt="" width="104" height="142">
            <p>Nick</p>
    </main>
</body>
<html>
        <%- include('../partials/footer') %>
</html>