<!DOCTYPE <!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <img id = "a404" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/e7060611050605.560f08086e760.jpg" alt="a404">
</body>
<%- include('../partials/footer') %>
</html>