/* Creators Page */
#about {
    background-color: rgb(231, 231, 231);
}

#development-team {
    text-align: center;
    font-size: 160%;
    line-height: 440%;
    height: 10%;
  }

 #statement {
    text-align: center;
    font-size: 160%;
    line-height: 440%;
    height: 10%;
 }