/* Creators Page */
#about {
    background-color: rgb(231, 231, 231);
}

#development-team {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 160%;
    line-height: 440%;
    color: #0c2230;
    margin-left: auto;
    margin-right: auto;
  }

 #statement {
    font-family: Helvetica, sans-serif;
    text-align: center;
    /* font-size: 120%;
    line-height: 440%; */
    height: 10%;
    color: #475761;
    margin-left: auto;
    margin-right: auto;
 }

 img.creator-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .line-break-creator {
    font-size: 20%;
    border-top: 3px solid #0c2230;
    width: 36%;
    margin: 0 auto;
 }

 .creators-bio {
    font-family: Helvetica, sans-serif;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #0a171f;
 }