
/* Top bar */

#top-bar {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 10px;
    background-color: #454545;
}

/* NAVIGATION */

#left-bar {
    position: fixed;
    height: 40%;
    width: 0px;
    background-color: #333;
    z-index: 2;
}

#slide-out a {
    display: none;
    margin-top: 50px;
}

#slide-out {
    position: fixed;
    display: none;
    /* Stops it displaying by default */
    background-color: #333;
    color: #FFF;
    padding: 10px;
    height: 40%;
    width: 170px;
    z-index: 2;
}

#arrow {
    display: none;
    position: relative;
    height: 20px;
    width: 20px;
    border: 2px solid;
    border-right: none;
    border-top: none;
    margin: 14px 19px;
    transform: rotate(45deg);
    color: white;
    z-index: 10;
}

#circle {
    display: none;
    position: fixed;
    left: 10px;
    top: 10px;
    height: 50px;
    width: 50px;
    border: 2px solid #417C81;
    border-radius: 50%;
    background-color: #417C81;
    z-index: 10;
}

#circle:hover {
    background-color: #0D4B51;
    border-color: #0D4B51;
    cursor: pointer;
}

#slide-out {
        position: fixed;
        display: none;
        /* Stops it displaying by default */
        background-color: #80D9FF;
        color: #FFF;
        padding: 10px;
        height: 100%;
        width: 180px;
        z-index: 2;
}

#arrow {
        display: none;
        position: relative;
        height: 20px;
        width: 20px;
        border: 2px solid;
        border-right: none;
        border-top: none;
        margin: 14px 19px;
        transform: rotate(45deg);
        color: white;
        z-index: 10;
}

#navbar a {
    text-decoration: none;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    color: white;
    font-size: 4vw;
    font-weight: 300;
    text-align: center;
    width: 170px;
    cursor: pointer;
}

#navbar a:hover {
    color: white;
    font-weight: 200
}

#navbar a:nth-child(1) {
    position: fixed;
    top: 10%;
}

#navbar a:nth-child(2) {
    position: fixed;
    top: 19%;
}

#navbar a:nth-child(3) {
    position: fixed;
    top: 28%;
}

#navbar a:nth-child(4) {
    position: fixed;
    top: 37%;
}

#click-toggle-arrow {
        position: relative;
        right: 10px;
        height: 20px;
        width: 20px;
        border: 2px solid;
        border-right: none;
        border-top: none;
        margin: 14px 19px;
        transform: rotate(225deg);
        color: white;
        z-index: 10;
}

#click-toggle-circle {
    position: fixed;
    left: 10px;
    top: 10px;
    height: 50px;
    width: 50px;
    border: 2px solid #417C81;
    border-radius: 50%;
    background-color: #417C81;
    z-index: 50;
    cursor: pointer;
}

#click-toggle-circle:hover {
        background-color: #206168;
        border-color: #206168;
}

#nav-prompt {
        position: fixed;
        width: 200px;
        height: 45%;
        display: none;
        font-size: 26px;
        left: 80px;
        top: 46%;
        font-family: 'Titillium Web', sans-serif;
        z-index: 2;
}

/* Main */

main {
        width: 960px;
        margin: 30px auto;
}

main ul li {
        list-style: none;
        float: left;
        margin: 30px 30px 30px 0px;
}

main ul li:last-child {
        margin-right: 0px;
}

main ul li:last-child {
    margin-right: 0px;
}

section img {
        float: left;
}

section div {
        width: calc(50% - 30px);
        float: left;
        padding-left: 30px;
        margin-bottom: 30px;
}

h2 {
        font-size: 20px;
}

section div p {
        height: 320px;
        overflow: auto;
        font-size: 18px;
        line-height: 24px;
        font-style: italic;
}

button {
        border: none;
        padding: 10px 30px;
        background-color: #000;
        color: #fff;
        border-radius: 3px;
        font-size: 18px;
        margin-top: 17px;
        transition: 350ms;
        cursor: pointer;
}

button:hover {
        background: rgb(54, 54, 59);
}

/* IMAGE CONTAINER GRID */

#image-container {
        width: 90%;
        padding: 5px;
        margin: auto;
        text-align: center;
}

.grid {
        display: flex;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-auto-rows: minmax(150px, auto);
        grid-gap: 1em;
}

.module {
        background: #eaeaea;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        margin-left: 5px;
        margin-right: 5px;
        flex: 1 1 200px;
        border-radius: 10px;
}

@supports (display: grid) {
        .module {
          margin: 10;
        }
}

.module img {
        max-width: 90%;
        border-radius: 5px;
        height: calc(100%/1.1);
}

/* CLIENT ACCESS FORM */

#client-access {
    max-width: 100%;
    margin-left: 5%;
}

#client-access input {
    margin: 5px;
}

/* FOOTER */

footer {
  display: block;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
}

/* HEADER */

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    max-width: 100%;
}

.header nav ul li {
    max-width: 100%;
    display: inline-block;
    float: right;
    padding-right: 1%
}

.header nav ul li a{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 2em;
}

#top-title {
    background-color: #333;
    text-align: center;
    font-size: 30px;
    padding: 10px 1em 1em 1em;
    font-family: 'Josefin Sans', sans-serif;
    color: #bfdaf2;
}

#navbar {
    display: none;
}

@media screen and (max-width: 650px) {
    .header {
        display: none;
    }
    #navbar {
        display: contents;
    }
}
*{box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font: 16px/1.3 sans-serif; }

.CSSgal {
    position: relative;
    overflow: hidden;
    height: 60%;
    width: 90%;
    margin: 0 auto;
}

/* SLIDER */
.CSSgal .slider {
    height: 100%;
    white-space: nowrap;
    font-size: 0;
    transition: 0.8s;
}

/* SLIDES */
.CSSgal .slider > * {
    font-size: 1rem;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    height: 100%;
    width: 100%;
    background: none 50% no-repeat;
    background-size: cover;
}

/* CONTAINERS ANCHORS */
.CSSgal .prevNext {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 100%;
    height: 0;
}
.CSSgal .prevNext > div+div {
    visibility: hidden; 
}
.CSSgal .prevNext a {
    background: #333;
    color: #fff;
    position: absolute;
    width:       60px;
    height:      30px;
    line-height: 32px;
    text-align: center;
    opacity: 0.7;
    -webkit-transition: 0.3s;
                    transition: 0.3s;
    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
    left: 0;
}
.CSSgal .prevNext a:hover {
    opacity: 1;
}
.CSSgal .prevNext a+a {
    left: auto;
    right: 0;
}

/* NAVIGATION */
.CSSgal .bullets {
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: 5px 0px;
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 25px;
}
.CSSgal .bullets > a {
    display: inline-block;
    width:       30px;
    height:      30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    background: #333;
    -webkit-transition: 0.3s;
                    transition: 0.3s;
}
.CSSgal .bullets > a+a {
    background: #333;
}
.CSSgal .bullets > a:hover {
    background: #333 !important;
}
/* NAVIGATION BUTTONS */
/* ALL */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}

/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
#s5:target ~ .bullets >*:nth-child(5) {background: rgba(255, 255, 255,   1);}
#s6:target ~ .bullets >*:nth-child(6) {background: rgba(255, 255, 255,   1);}
#s7:target ~ .bullets >*:nth-child(7) {background: rgba(255, 255, 255,   1);}
#s8:target ~ .bullets >*:nth-child(8) {background: rgba(255, 255, 255,   1);}
#s9:target ~ .bullets >*:nth-child(9) {background: rgba(255, 255, 255,   1);}
#s10:target ~ .bullets >*:nth-child(10) {background: rgba(255, 255, 255,   1);}
#s11:target ~ .bullets >*:nth-child(11) {background: rgba(255, 255, 255,   1);}
#s12:target ~ .bullets >*:nth-child(12) {background: rgba(255, 255, 255,   1);}
#s13:target ~ .bullets >*:nth-child(13) {background: rgba(255, 255, 255,   1);}
#s14:target ~ .bullets >*:nth-child(14) {background: rgba(255, 255, 255,   1);}
#s15:target ~ .bullets >*:nth-child(15) {background: rgba(255, 255, 255,   1);}
#s16:target ~ .bullets >*:nth-child(16) {background: rgba(255, 255, 255,   1);}

/* PREV/NEXT VISIBILITY */
/* ALL */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}

/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
#s5:target ~ .prevNext >*:nth-child(5) {visibility: visible;}
#s6:target ~ .prevNext >*:nth-child(6) {visibility: visible;}
#s7:target ~ .prevNext >*:nth-child(7) {visibility: visible;}
#s8:target ~ .prevNext >*:nth-child(8) {visibility: visible;}
#s9:target ~ .prevNext >*:nth-child(9) {visibility: visible;}
#s10:target ~ .prevNext >*:nth-child(10) {visibility: visible;}
#s11:target ~ .prevNext >*:nth-child(11) {visibility: visible;}
#s12:target ~ .prevNext >*:nth-child(12) {visibility: visible;}
#s13:target ~ .prevNext >*:nth-child(13) {visibility: visible;}
#s14:target ~ .prevNext >*:nth-child(14) {visibility: visible;}
#s15:target ~ .prevNext >*:nth-child(15) {visibility: visible;}
#s16:target ~ .prevNext >*:nth-child(16) {visibility: visible;}

/* SLIDER ANIMATION POSITIONS */
#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
#s5:target ~ .slider {transform: translateX(-400%); -webkit-transform: translateX(-400%);}
#s6:target ~ .slider {transform: translateX(-500%); -webkit-transform: translateX(-500%);}
#s7:target ~ .slider {transform: translateX(-600%); -webkit-transform: translateX(-600%);}
#s8:target ~ .slider {transform: translateX(-700%); -webkit-transform: translateX(-700%);}
#s9:target ~ .slider {transform: translateX(-800%); -webkit-transform: translateX(-800%);}
#s10:target ~ .slider {transform: translateX(-900%); -webkit-transform: translateX(-900%);}
#s11:target ~ .slider {transform: translateX(-1000%); -webkit-transform: translateX(-1000%);}
#s12:target ~ .slider {transform: translateX(-1100%); -webkit-transform: translateX(-1100%);}
#s13:target ~ .slider {transform: translateX(-1200%); -webkit-transform: translateX(-1200%);}
#s14:target ~ .slider {transform: translateX(-1300%); -webkit-transform: translateX(-1300%);}
#s15:target ~ .slider {transform: translateX(-1400%); -webkit-transform: translateX(-1400%);}
#s16:target ~ .slider {transform: translateX(-1500%); -webkit-transform: translateX(-1500%);}

/* SLIDESHOW OVERRIDES */
.CSSgal{
    color: #fff;    
    text-align: center;
}
.CSSgal .slider h2 {
    margin-top: 2vh;
    font-weight: 200;
    letter-spacing: -0.06em;
    word-spacing: 0.2em;
    font-size: 3em;
}
.CSSgal a {
    border-radius: 50%;
    margin: 0;
    color: rgba(0,0,0,0.8);
    text-decoration: none;
}
.CSSgal img {
    max-width: 100%;
    border-radius: 10px;
}