html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-color: #FFFFFF;
    max-width: 100%;
    padding: 1%
}


/* CONTENT */


/* #first-title {
    position: relative;
    top: 8%;
    left: 18%;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    width: 50%;
    font-size: 4vw;
}

#first-content {
    position: relative;
    top: 9%;
    left: 18%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    width: 70%;
    font-size: 3vw;
}

#second-container {
    position: absolute;
    width: 100%;
    top: 650px;
    height: 650px;
    background-color: #EBEBEB;
    z-index: 1;
    display: block;
}

#second-title {
    position: relative;
    top: 5%;
    left: 18%;
    font-family: 'Titillium Web', sans-serif;
    width: 50%;
    font-size: 60px;
} */


/* Top bar */

#top-bar {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 10px;
    background-color: #454545;
}


/* NAVIGATION */

#left-bar {
    position: fixed;
    height: 100%;
    width: 10px;
    background-color: #80D9FF;
    z-index: 2;
}

#slide-out a {
    display: none;
    margin-top: 50px;
}

#slide-out {
    position: fixed;
    display: none;
    /* Stops it displaying by default */
    background-color: #80D9FF;
    color: #FFF;
    padding: 10px;
    height: 100%;
    width: 180px;
    z-index: 2;
}

#arrow {
    display: none;
    position: relative;
    height: 20px;
    width: 20px;
    border: 2px solid;
    border-right: none;
    border-top: none;
    margin: 14px 19px;
    transform: rotate(45deg);
    color: white;
    z-index: 10;
}

#circle {
    display: none;
    position: fixed;
    left: 65px;
    top: 25px;
    height: 50px;
    width: 50px;
    border: 2px solid #417C81;
    border-radius: 50%;
    background-color: #417C81;
    z-index: 10;
}

#circle:hover {
    background-color: #0D4B51;
    border-color: #0D4B51;
    cursor: pointer;
}


/* Individual list items */

a {
    text-decoration: none;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    color: #417C81;
    font-size: 2vw;
    font-weight: 300;
    text-align: center;
    width: 175px;
    cursor: pointer;
}

a:hover {
    color: white;
    font-weight: 200
}

a:nth-child(1) {
    position: fixed;
    top: 10%;
}

a:nth-child(2) {
    position: fixed;
    top: 30%;
}

a:nth-child(3) {
    position: fixed;
    top: 50%;
}

a:nth-child(4) {
    position: fixed;
    top: 70%;
}

a:nth-child(5) {
    position: fixed;
    top: 90%;
}

#click-toggle-arrow {
    position: relative;
    right: 10px;
    height: 20px;
    width: 20px;
    border: 2px solid;
    border-right: none;
    border-top: none;
    margin: 14px 19px;
    transform: rotate(225deg);
    color: white;
    z-index: 10;
}

#click-toggle-circle {
    position: fixed;
    left: 20px;
    top: 45%;
    height: 50px;
    width: 50px;
    border: 2px solid #417C81;
    border-radius: 50%;
    background-color: #417C81;
    z-index: 50;
    cursor: pointer;
}

#click-toggle-circle:hover {
    background-color: #206168;
    border-color: #206168;
}

#nav-prompt {
    position: fixed;
    width: 200px;
    height: 45%;
    display: none;
    font-size: 26px;
    left: 80px;
    top: 46%;
    font-family: 'Titillium Web', sans-serif;
    z-index: 2;
}


/*** Main ***/

main {
    width: 960px;
    margin: 30px auto;
}

main ul li {
    /* display: inline-block; */
    list-style: none;
    float: left;
    margin: 30px 30px 30px 0px;
}

main ul li:last-child {
    margin-right: 0px;
}
    section img {
        float: left;
    }
    ;
    section div {
        width: calc(50% - 30px);
        float: left;
        padding-left: 30px;
        margin-bottom: 30px;
    }
    h2 {
        font-size: 20px;
    }
    section div p {
        height: 320px;
        overflow: auto;
        font-size: 18px;
        line-height: 24px;
        font-style: italic;
    }
    button {
        border: none;
        padding: 10px 30px;
        background-color: #000;
        color: #fff;
        border-radius: 3px;
        font-size: 18px;
        margin-top: 17px;
        transition: 350ms;
        cursor: pointer;
    }
    button:hover {
        background: rgb(54, 54, 59);
    }

    /* IMAGE CONTAINER GRID */
    #image-container {
        width: 90%;
        padding: 5px;
        margin: auto;
        text-align: center;
    }    
    .grid {
        display: flex;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-auto-rows: minmax(150px, auto);
        grid-gap: 1em;
      }
    .module {
        background: #eaeaea;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        margin-left: 5px;
        margin-right: 5px;
        flex: 1 1 200px;
        border-radius: 10px;
      }
    @supports (display: grid) {
        .module {
          margin: 10;
        }
    }
    .module img {
        max-width: 90%;
        border-radius: 5px;
    }
/* CLIENT ACCESS FORM */
#client-access {
    max-width: 100%;
    margin-left: 5%;
}
#client-access input {
    margin: 5px;
}
